* {
    color: white;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: #124586;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bodega2.webp");
    background-size: cover;
    width: auto;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input {
    color: black;
}

button {
    color: black;
}

footer {
    background-color: #124586;
    color: white;
    padding: 15px;
}
